.system-light-status-bar-default {
    border: 1px none;
    height: 44px;
    left: 0;
    position: absolute;
    top: 0;
    width: 414px;
  }
  
  .flex-row {
    align-items: center;
    display: flex;
    height: 18px;
    left: 16px;
    min-width: 384px;
    position: relative;
    top: 13px;
  }
  
  .time {
    color: var(--black);
    font-family: var(--font-family-sf_pro_display-semibold);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.30px;
    min-height: 18px;
    text-align: center;
    width: 54px;
  }
  
  .icon-bar_chart {
    height: 11px;
    margin-left: 263px;
    margin-top: 2.0px;
    width: 17px;
  }
  
  .icon-signal {
    height: 11px;
    margin-left: 5px;
    margin-top: 1.66px;
    width: 15px;
  }
  
  .battery {
    align-items: center;
    display: flex;
    margin-left: 5px;
    margin-top: 2.0px;
    min-width: 24px;
  }
  
  .overlap-group-4 {
    align-items: flex-start;
    border: 1px solid;
    border-color: #00000059;
    border-radius: 2.67px;
    display: flex;
    height: 11px;
    min-width: 22px;
    padding: 1px;
  }
  
  .capacity {
    background-color: var(--black);
    border: 0px none;
    border-radius: 1.33px;
    height: 7px;
    width: 18px;
  }
  
  .cap {
    height: 4px;
    margin-left: 1px;
    margin-top: 0;
    width: 1px;
  }