.qa-item-5 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border: 1px none;
  border-radius: 32px;
  box-shadow: 0px 4px 8px #26262629 , 0px 1px 2px #2626260a;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px 24px 32px;
}

.container-22 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ic_question-5 {
  height: 48px;
  min-width: 48px;
}

.title-subtitle-6 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title-11 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
}

.subtitle-15 {
  align-self: stretch;
  letter-spacing: -0.30px;
  line-height: 28px;
}

.qa-item-5.qa-item-6 .title-11 {
  white-space: nowrap;
}

