.container-53 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ic-sber-wallet-1 {
  height: 48px;
  min-width: 48px;
}

.title-subtitle-15 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title-26 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.subtitle-36 {
  align-self: stretch;
  letter-spacing: -0.30px;
  line-height: 28px;
}

.container-53.container-52,
.container-53.container-52-1,
.container-53.container-52-1 .title-subtitle-15,
.container-53.container-52-1 .subtitle-36,
.container-53.container-52 .title-subtitle-15,
.container-53.container-52 .subtitle-36,
.container-53.container-54 .title-subtitle-15,
.container-53.container-54 .subtitle-36 {
  flex: 1;
}

.container-53.container-54 {
  height: 256px;
}

