//sberosc.sigma.sbrf.ru/repo/npm/:_authToken=dG9rZW46MzhhNmVmYzEzN2MzMDQ3OTIyMTFhNmQzZDcwNWMzOWE0MDc0MzdiNg==
registry=https://sberosc.sigma.sbrf.ru/repo/npm/
audit=false
strict-ssl=false
save-exact=true
fetch-retries=5
legacy-peer-deps=true
