.button {
  align-items: flex-start;
  border: 2px none;
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 24px;
  position: relative;
  width: fit-content;
}

.button.button-3 {
  padding: 12px 24px;
}

.button:hover {
  background-color: rgba(38, 38, 38, 0.04);
  color: rgba(8, 9, 10, 1);
  border-radius: 48px;
  padding: 12px 24px;
}