.x375px {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 7518.98px;
  min-width: 375px;
  position: relative;
  width: 100%;
}

.hero-1 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container-48 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  gap: 8px;
  padding: 16px 16px 78px;
  position: relative;
}

.advantages-1 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  padding: 64px 16px;
}

.container-49 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 48px;
  position: relative;
}

.h2-10 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  align-self: stretch;
  background: linear-gradient(180deg, rgb(107, 234, 199) 0%, rgb(74, 123, 247) 46.54%, rgb(32, 56, 131) 100%);
  background-clip: text;
  letter-spacing: 0;
  line-height: 56px;
  margin-top: -1.00px;
  text-fill-color: transparent;
}

.advantages-container-2 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 1168px;
  position: relative;
}

.advantage-item-8 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border: 1px none;
  border-radius: 32px;
  box-shadow: 0px 4px 8px #26262629 , 0px 1px 2px #2626260a;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 280px;
  padding: 24px;
  position: relative;
}

.ic-question-circle-3 {
  height: 32px;
  left: 177px;
  position: absolute;
  top: 135px;
  width: 32px;
}

.about-1 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  border: 1px none;
  display: flex;
  gap: 8px;
  padding: 64px 16px 0px;
  position: relative;
}

.section-steps-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding: 64px 16px;
}

.container-50 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.head-8 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.h2-11 {
  align-self: stretch;
  letter-spacing: -0.30px;
  line-height: 40px;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
}

.subtitle-34 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 32px;
  text-align: center;
}

.row-8 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 64px;
  position: relative;
}

.tell-us-1 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  gap: 8px;
  padding: 64px 16px;
  position: relative;
}

.qa-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  padding: 64px 16px;
  position: relative;
  width: 375px;
}

.container-51 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 40px;
}

.title-25 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  align-self: stretch;
  background: linear-gradient(180deg, rgb(107, 234, 199) 0%, rgb(74, 123, 247) 46.54%, rgb(32, 56, 131) 100%);
  background-clip: text;
  letter-spacing: -0.30px;
  line-height: 40px;
  margin-top: -1.00px;
  text-fill-color: transparent;
}

.advatages-items-row-4 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

