.frame-270988946,
.frame-270988946-1,
.frame-270988946-2,
.frame-270988946-3 {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 4px;
  justify-content: center;
  position: relative;
  width: fit-content;
}

