.container-13 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  left: 21px;
  position: absolute;
  top: 0;
  width: 311px;
}

.frame-270988944 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subtitle-5 {
  align-self: stretch;
  letter-spacing: -0.30px;
  line-height: 28px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.container-14 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.container-13.container-15 {
  left: 48px;
  width: fit-content;
}

.container-13.container-15 .frame-270988944 {
  align-self: unset;
  width: 311px;
}

