.otherchands-phone {
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  height: 343px;
  position: relative;
  top: -93px;
  width: 343px;
}

.otherchands-phone.otherchands-phone-2 {
  height: 640px;
  left: 0;
  position: absolute;
  top: 0;
  width: 640px;
}

