.male-laptop-2 {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  height: 464px;
  left: 400px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 464px;
}

.male-laptop-2.male-laptop-3 {
  left: 680px;
}

