.hands-heart-3 {
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  height: 355px;
  position: relative;
  top: -60px;
  width: 424px;
}

.hands-heart-3.hands-heart-5 {
  height: 572px;
  top: -96px;
  width: 572px;
}

