.blur-7 {
  border: 1px none;
  height: 390px;
  left: 650px;
  position: absolute;
  top: 176px;
  width: 358px;
}

.ellipse-container-9 {
  height: 482px;
  left: 16px;
  position: relative;
  width: 342px;
}

.ellipse-2166-12 {
  background-color: var(--cornflower-blue);
  border: 1px none;
  border-radius: 96px;
  filter: blur(164px);;
  height: 192px;
  left: 150px;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 192px;
}

.ellipse-2167-18 {
  background-color: var(--bright-turquoise);
  border: 1px none;
  border-radius: 150px;
  filter: blur(252px);;
  height: 300px;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 182px;
  width: 300px;
}

.blur-7.blur-8 {
  left: 658px;
  top: 256px;
}

.blur-7.blur-9 {
  left: 370px;
}

.blur-7.blur-10 {
  left: 378px;
  top: 256px;
}

.blur-7.blur-6 {
  left: 1018px;
  top: 24px;
}

