.frame-270988836,
.frame-270988836-1,
.frame-270988836-2,
.frame-270988836-3 {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 8px;
  justify-content: center;
  width: fit-content;
}

.button-2,
.button-4,
.button-5,
.button-6 {
  letter-spacing: -0.30px;
  color: #677178;
  line-height: 28px;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}


.button-2:hover {
  /* background-color: rgba(38, 38, 38, 0.04); */
  color: #1549AB;
  /* border-radius: 48px; */
  /* padding: 12px 12px; */
}