.image-hands-8 {
  border: 1px none;
  height: 460px;
  min-width: 640px;
}

.overlap-group-11 {
  height: 640px;
  position: relative;
  top: -174px;
  width: 640px;
}

.vector-2-stroke-2 {
  height: 56px;
  left: 362px;
  position: absolute;
  top: 279px;
  width: 69px;
}

