.hands-heart {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 415px;
  left: 0;
  min-width: 415px;
  padding: 0 5px;
  position: absolute;
  top: 351px;
}

.hands_-heart {
  height: 359px;
  object-fit: cover;
  width: 398px;
}

.hands-heart.hands-heart-1 {
  padding: 0 32px;
}

.hands-heart.hands-heart-1 .hands_-heart {
  width: 343px;
}

.hands-heart.hands-heart-2 {
  justify-content: flex-end;
  padding: unset;
}

.hands-heart.hands-heart-2 .hands_-heart {
  width: 379px;
}

