.male-laptop-08 {
  /* align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 758px;
  margin-bottom: -279px;
  margin-left: -195px;
  min-width: 758px;  */
  /* padding: 15px 0px; */
  align-items: flex-start;
  justify-content: flex-end;
  display: flex;
}

.private_2-1 {
  height: 464px;
  object-fit: cover;
  width: 464px;
}

.male-laptop-08.male-laptop-08-1,
.male-laptop-08.male-laptop-08-2 {
  height: 525px;
  /* left: -106px; */
  margin-bottom: auto;
  /* margin-left: auto; */
  /* position: relative; */
  margin-top: 31px;

  /* top: 31px; */
}

.male-laptop-08.male-laptop-08-1 .private_2-1,
.male-laptop-08.male-laptop-08-2 .private_2-1 {
  height: 341px;

  width: 343px;
}