.frame-270988950 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: fit-content;
}

.h2-2 {
  letter-spacing: -0.30px;
  line-height: 40px;
  margin-top: -1.00px;
  text-align: center;
  width: 343px;
}

.container-6 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  width: fit-content;
}

.image-doc-chips {
  height: 252.45px;
  min-width: 295px;
}

.image-hands {
  border: 1px none;
  height: 246.53px;
  min-width: 343px;
  position: relative;
}

.frame-270988950.frame-270988950-1 {
  flex: 1;
  width: unset;
}

.frame-270988950.frame-270988950-1 .h2-2,
.frame-270988950.frame-270988950-1 .container-6 {
  align-self: stretch;
  width: unset;
}

