.button,
.button-2,
.button-4,
.button-6,
.button-8,
.button-10 {
  align-items: flex-start;
  background-color: var(--blue);
  border: 1px none;
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 56px;
  width: fit-content;
}

.frame-270988836,
.frame-270988836-1,
.frame-270988836-2,
.frame-270988836-3,
.frame-270988836-4,
.frame-270988836-5 {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 8px;
  justify-content: center;
  width: fit-content;
}

.button-1,
.button-3,
.button-5,
.button-7,
.button-9,
.button-11 {
  letter-spacing: -0.30px;
  line-height: 28px;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.button:hover {
  background: rgba(21, 73, 171, 1);
 }

