.blur {
  border: 1px none;
  height: 390px;
  left: 90px;
  position: absolute;
  top: 96px;
  width: 358px;
}

.ellipse-2166-3 {
  background-color: var(--cornflower-blue);
  border: 1px none;
  border-radius: 96px;
  filter: blur(164px);;
  height: 192px;
  left: 166px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 192px;
}

.ellipse-2167-3 {
  background-color: var(--bright-turquoise);
  border: 1px none;
  border-radius: 96px;
  filter: blur(252px);;
  height: 192px;
  left: 0;
  opacity: 0.34;
  position: absolute;
  top: 198px;
  width: 192px;
}

.blur.blur-1 {
  left: 63px;
}

.blur.blur-2 {
  left: 82px;
}

