.header {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 64px 153px 16px 24px;
}

.oline-sign-logo {
  height: 48px;
  min-width: 247.12px;
}

.header.header-1 .oline-sign-logo {
  margin-right: -49.12px;
}

