.cmale-phone {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 444px;
  margin-bottom: -88.23px;
  margin-left: -38px;
  min-width: 444px;
  padding: 0.0px 37.6px;
}

.boy_telefon-1 {
  height: 356px;
  object-fit: cover;
  width: 316px;
}

