.x36-stroke-ds_ic_36_mail,
.x36-stroke-ds_ic_36_mail-1 {
  border: 1px none;
  height: 36px;
  min-width: 36px;
  position: relative;
}

.icon-mail,
.icon-mail-1 {
  height: 18px;
  left: 6px;
  position: absolute;
  top: 9px;
  width: 24px;
}