.frame-270988944-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 560px;
}

.subtitle-26 {
  align-self: stretch;
  letter-spacing: -0.30px;
  line-height: 28px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.container-37 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.frame-270988944-1.frame-270988944-2 {
  margin-right: -40.00px;
}

