.frame-270988944 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 560px;
}

.subtitle-5 {
  align-self: stretch;
  letter-spacing: -0.30px;
  line-height: 28px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.container-12 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.frame-270988944.contacts {
  margin-right: -11.00px;
}

