.back-blur {
  align-items: flex-start;
  border: 1px none;
  border-radius: 40px;
  display: flex;
  height: 580px;
  left: 31px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 343px;
}

.ellipse-container {
  height: 441px;
  margin-left: 171px;
  margin-top: -29px;
  position: relative;
  width: 298px;
}

.ellipse-2166 {
  background-color: var(--blue);
  border: 1px none;
  border-radius: 149px;
  filter: blur(164px);;
  height: 298px;
  left: 0;
  opacity: 0.19;
  position: absolute;
  top: 0;
  width: 298px;
}

.ellipse-2167 {
  background-color: var(--bright-turquoise);
  border: 1px none;
  border-radius: 82px;
  filter: blur(132px);;
  height: 164px;
  left: 7px;
  opacity: 0.19;
  position: absolute;
  top: 277px;
  width: 164px;
}

.back-blur.back-blur-1 {
  left: 0;
}

.back-blur.back-blur-2 {
  left: 15px;
}

