.hero-banner-mobile {
  background-color: var(--white);
  border: 1px none;
  border-radius: 40px;
  box-shadow: 0px 8px 16px #26262629 , 0px 1px 2px #2626260a;
  flex: 1;
  height: 580px;
  min-width: 398px;
  position: relative;
}

.overlap-group1 {
  height: 580px;
  left: 24px;
  position: absolute;
  top: 0;
  width: 374px;
}

.text-container-buttons {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 484px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 48px;
  width: 350px;
}

.text-container {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.h1 {
  align-self: stretch;
  letter-spacing: -0.30px;
  line-height: 40px;
  margin-top: -1.00px;
}

.subtitle-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 32px;
}

.rectangle-1 {
  background: linear-gradient(180deg, rgb(107, 234, 199) 0%, rgb(74, 123, 247) 46.54%, rgb(32, 56, 131) 100%);
  border: 1px none;
  border-radius: 0px 0px 40px 40px;
  height: 32px;
  left: 63px;
  position: absolute;
  top: 580px;
  width: 271px;
}

.hero-banner-mobile.hero-banner-mobile-1 {
  min-width: 343px;
}

.hero-banner-mobile.hero-banner-mobile-1 .overlap-group1 {
  border-radius: 40px;
  left: 0;
  width: 343px;
}

.hero-banner-mobile.hero-banner-mobile-1 .text-container-buttons {
  left: 24px;
  width: 295px;
}

.hero-banner-mobile.hero-banner-mobile-1 .rectangle-1 {
  left: 36px;
}

