.frame-270988947,
.frame-270988947-1,
.frame-270988947-2,
.frame-270988947-3,
.frame-270988947-4 {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 4px;
  justify-content: center;
  position: relative;
  width: fit-content;
}

