.footer-mobile {
  align-items: start;

  align-self: stretch;
  background-color: var(--cultured-pearl);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding: 56px 32px;
  width: 100%;

}


.oline-sign-logo-1 {
  height: 48px;
  min-width: 247.12px;
}


.text-1-mobile {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  width: 100%;
}


.phone {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  white-space: nowrap;
  /* width: 400px; */
  color: #262626;
}

.podpissberru {
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
  /* width: 400px; */
  color: #262626;
}



.buttonCustom-mobile {

  /* Body Text/B3 | SB Sans Text 14px SB */

  font-family: 'SB Sans Text';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  /* gap: 0px; */
  text-align: center;
  letter-spacing: -0.02em;

  /* Cool Gray / Cool Gray 6 */

  color: #677178;

  text-align: start;
  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

  align-items: flex-start;
  border-radius: 48px;
  display: flex;

  position: relative;
  width: fit-content;
}

.buttonCustom-mobile:hover {
  background-color: rgba(38, 38, 38, 0.04);
  color: rgba(8, 9, 10, 1);
  border-radius: 48px;
}