.footer-mobile {
  align-items: center;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 64px;
}

.container-27 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.oline-sign-logo-1 {
  height: 40px;
  min-width: 205.94px;
}

.row-1 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.column-1 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.phone {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  white-space: nowrap;
  color: #262626;
}

.podpissberru {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  color: #262626;
}

.text-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
}

.footer-mobile.footer-mobile-1 {
  align-self: unset;
  width: 375px;
}

