.x414px {
    align-items: center;
    background-color: var(--white);
    border: 1px none;
    display: contents;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    min-height: 7108.98px;
    min-width: 414px;
    position: relative;
    width: 100%;
  }
  
  .hero {
    align-items: center;
    align-self: stretch;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  
  .container-17 {
    align-items: flex-start;
    align-self: stretch;
    border: 1px none;
    display: flex;
    gap: 8px;
    padding: 16px 16px 78px;
    position: relative;
  }
  
  .advantages {
    align-items: center;
    align-self: stretch;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px 16px;
  }
  
  .container-18,
  .row-2 {
    align-items: flex-start;
    align-self: stretch;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 48px;
    position: relative;
  }
  
  .blur-2 {
    border: 1px none;
    height: 390px;
    left: 82px;
    position: absolute;
    top: 96px;
    width: 358px;
  }
  
  .ellipse-2166-2 {
    background-color: var(--cornflower-blue);
    border: 1px none;
    border-radius: 96px;
    filter: blur(164px);;
    height: 192px;
    left: 166px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 192px;
  }
  
  .ellipse-2167-4 {
    background-color: var(--bright-turquoise);
    border: 1px none;
    border-radius: 96px;
    filter: blur(252px);;
    height: 192px;
    left: 0;
    opacity: 0.34;
    position: absolute;
    top: 198px;
    width: 192px;
  }
  
  .h2-3 {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    align-self: stretch;
    background: linear-gradient(115.62deg, #6BEAC7 0%, #4A7BF7 63.36%, #203883 136.15%);
    background-clip: text;
    letter-spacing: 0;
    line-height: 56px;
    margin-top: -1.00px;
    text-fill-color: transparent;
  }
  
  .adva {
    align-items: flex-start;
    align-self: stretch;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
  }
  
  .advantage-item-5 {
    align-items: flex-start;
    align-self: stretch;
    background-color: var(--white);
    border: 1px none;
    border-radius: 32px;
    box-shadow: 0px 4px 8px #26262629 , 0px 1px 2px #2626260a;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 280px;
    padding: 24px;
    position: relative;
  }
  
  .icon-clock-1 {
    height: 48px;
    min-width: 48px;
  }
  
  .container-19 {
    align-items: flex-start;
    align-self: stretch;
    border: 1px none;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 24px;
    position: relative;
  }
  
  .ic-question-circle-1 {
    height: 32px;
    left: 175px;
    position: absolute;
    top: 141px;
    width: 32px;
  }
  
  .about {
    align-items: center;
    align-self: stretch;
    background-color: var(--cultured-pearl);
    border: 1px none;
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 64px 16px 0px;
  }
  
  .frame-270988950 {
    align-items: flex-start;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: fit-content;
  }
  
  .h2-4 {
    letter-spacing: -0.30px;
    line-height: 40px;
    margin-top: -1.00px;
    text-align: center;
    width: 343px;
  }
  
  .container-20 {
    align-items: center;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    width: fit-content;
  }
  
  .image-doc-chips-1 {
    height: 252.45px;
    min-width: 295px;
  }
  
  .image-hands-2 {
    border: 1px none;
    height: 246.53px;
    min-width: 343px;
    position: relative;
  }
  
  .section-steps-1 {
    align-items: center;
    align-self: stretch;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    padding: 64px 16px;
  }
  
  .container-21 {
    align-items: flex-start;
    align-self: stretch;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  
  .head-2 {
    align-items: flex-start;
    align-self: stretch;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .h2-5 {
    align-self: stretch;
    letter-spacing: -0.30px;
    line-height: 40px;
    margin-top: -1.00px;
    text-align: center;
    white-space: nowrap;
  }
  
  .subtitle-12 {
    align-self: stretch;
    letter-spacing: 0;
    line-height: 32px;
    text-align: center;
  }
  
  .tell-us {
    align-items: center;
    align-self: stretch;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 64px 16px;
  }
  
  .container-banner {
    background-color: var(--cultured-pearl);
    border: 1px none;
    border-radius: 40px;
    flex: 1;
    height: 750px;
    min-width: 382px;
    overflow: hidden;
  }
  
  .overlap-group-3 {
    height: 766px;
    left: -36px;
    position: relative;
    top: 40px;
    width: 415px;
  }
  
  .container-22 {
    align-items: flex-start;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    left: 52px;
    position: absolute;
    top: 0;
    width: 311px;
  }
  
  .head-3 {
    align-items: flex-start;
    align-self: stretch;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .title-10 {
    align-self: stretch;
    letter-spacing: -0.30px;
    line-height: 36px;
    margin-top: -1.00px;
  }
  
  .subtitle-13 {
    align-self: stretch;
    letter-spacing: -0.30px;
    line-height: 28px;
  }
  
  .frame-270988944-1 {
    align-items: flex-start;
    align-self: stretch;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .subtitle-14 {
    align-self: stretch;
    letter-spacing: -0.30px;
    line-height: 28px;
    margin-top: -1.00px;
    white-space: nowrap;
  }
  
  .container-23 {
    align-items: flex-start;
    align-self: stretch;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
  }
  
  .qa {
    align-items: center;
    align-self: stretch;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    justify-content: center;
    padding: 64px 16px;
    position: relative;
  }
  
  .blur-3 {
    border: 1px none;
    height: 422px;
    left: 111px;
    position: absolute;
    top: 80px;
    width: 302px;
  }
  
  .ellipse-container-2 {
    height: 374px;
    position: relative;
    top: 48px;
  }
  
  .ellipse-2166-3 {
    background-color: var(--cornflower-blue);
    border: 1px none;
    border-radius: 96px;
    filter: blur(164px);;
    height: 192px;
    left: 110px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 192px;
  }
  
  .ellipse-2167-5 {
    background-color: var(--bright-turquoise);
    border: 1px none;
    border-radius: 96px;
    filter: blur(252px);;
    height: 192px;
    left: 0;
    opacity: 0.34;
    position: absolute;
    top: 182px;
    width: 192px;
  }
  
  .container-24 {
    align-items: flex-start;
    border: 1px none;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 40px;
  }
  
  .title-11 {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    align-self: stretch;
    background: linear-gradient(115.62deg, #6BEAC7 0%, #4A7BF7 63.36%, #203883 136.15%);
    background-clip: text;
    color: transparent;
    font-family: var(--font-family-sb_sans_display-semibold);
    font-size: var(--font-size-xxxl);
    font-weight: 400;
    letter-spacing: -0.30px;
    line-height: 40px;
    margin-top: -1.00px;
    text-fill-color: transparent;
  }