.back-blur-3 {
  align-items: flex-end;
  border: 1px none;
  border-radius: 0px 40px 40px 0px;
  display: flex;
  height: 412px;
  left: 235px;
  overflow: hidden;
  position: absolute;
  top: 52px;
  width: 629px;
}

.ellipse-container-6 {
  height: 649px;
  margin-bottom: -184px;
  margin-left: 160px;
  position: relative;
  width: 563px;
}

.ellipse-2166-9 {
  background-color: var(--blue);
  border: 1px none;
  border-radius: 149px;
  filter: blur(164px);;
  height: 298px;
  left: 265px;
  opacity: 0.11;
  position: absolute;
  top: 0;
  width: 298px;
}

.ellipse-2167-15 {
  background-color: var(--bright-turquoise);
  border: 1px none;
  border-radius: 190px;
  filter: blur(252px);;
  height: 380px;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 269px;
  width: 380px;
}

.back-blur-3.back-blur-4 {
  left: 0;
  top: 0;
}

.back-blur-3.back-blur-5 {
  left: 555px;
}

