.image-hands-5 {
  border: 1px none;
  height: 296px;
  left: 504px;
  position: absolute;
  top: 148px;
  width: 424px;
}

.image-hands-5.image-hands-6 {
  left: 224px;
}

.image-hands-5.image-hands-7 {
  height: 476px;
  left: 644px;
  top: -32px;
  width: 572px;
}

