.image-hands-3 {
  border: 1px none;
  height: 300px;

  position: relative;

  background-size: cover;
  padding-left: 50px;
  width: 30%;
}

.image-hands-3.image-hands-4 {
  /* height: 296px; */
  /* left: 412px;
  top: 148px; */


}